/* accordion en página quiénes somos */
#accordionQuienesSomos{
    margin: 0px 10px 10px 10px;
    background-color: rgba(0,0,0,0%);
}

.accordion-body{
    background-color: white;
}

.accordion-header{
    display: flex;
    justify-content: center;
}

.accordion-button{
    background-image: $dark-teal-accordion-gradient;
    color: white;
    font-family: $font-general;
    font-size: x-large;
    font-weight: 200;
    padding: 30px 30px 30px 30px;
    &:not(.collapsed){
        color:white;
        font-weight: 400;
    }
}

.profileData{
    width: auto;
}