/* estilos de las cards de la página quienes somos*/
.profilePicture,.reactorLogo,.reactorLogoVectorial{
    border-radius: 30px;
    border-image-repeat:repeat ;
}

.profileData,.proyectData{
    /*background-color: rgba(82, 171, 152,80%);*/
    @include background_color($dark-teal,0.5);
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    font-family: $font-general;
    letter-spacing: 2px;
    font-weight: 400;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.proyectData{
    color: black;
    @include background_color($light-grey,0.75);
}

/* estilos de las card en página experiencia*/
.card{
    background-image: $aquamarina-gradient; 
    border-radius: 5px; 
}
.card-body{
    @include background_color(white,0.4);
    margin: 5px;
    border-radius: 5px;
}
.card-title{
    letter-spacing: 2px;
}
.card-text{
    @include background_color(black,0);
    font-family: $font-general;
    font-weight: 400;
}
.card-img-top{
    margin: 5px 0px 5px 5px;
    border-radius: 5px;
    @include scale(auto,auto);
}
.svgLogo{
    background-color: rgb(243, 243, 243);
    padding: 5px 5px 5px 5px;
}
.card-container{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}

.cardProfile{
    border-radius: 30px;
}

@media screen and (min-width:320px){
    .proyectCard{
        flex-direction: column;
        align-items: stretch;
    }
    .profilePicture{
        margin: 10px 10px 0px 10px;
    }
    .profileData{
        @include scale(95%,auto);
        margin: 10px 10px 10px 10px;
    }
    .proyectData{
        margin: 10px 20px 20px 20px;
    }
    .reactorLogo{
        @include scale(310px,310px);
    }
    .reactorLogoVectorial{
        @include scale(300px,300px);
    }
        /*media query de cards*/
    .card-body{
        @include scale(auto,auto);
    }
    .card-img-top{
        margin: 5px 5px 0px 5px;
        @include scale(310px,310px);
    }
    .card-col{
        display: flex;
        align-items: center;
        align-content: center;
    }
    /*keep this one last*/
    .cardProfile{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 5px 5px 5px 0px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width:992px){
    .proyectCard,.card,.cardProfile{
        flex-direction: row;
    }
    .profileData{
        letter-spacing: 2px;
        width: 70%;
        height: auto;
        margin: 10px 10px 10px 10px;
    }
    /*media query de cards*/
    .card-body{
        @include scale(auto,200px);
    }
    .card-img-top{
        @include scale(200px,200px);
        margin: 5px 0px 5px 5px;
    }
    .card-col{
        display: block;
    }
    /*keep this one last*/
    .cardProfile{
        width: 700px;
        margin: 5px 5px 5px 5px;
    }
}

@media screen and (min-width:1200px){
    .proyectData{
        margin: 20px 20px 20px 0;
    }
    .reactorLogo,.reactorLogoVectorial{
        @include scale(200px,200px);
    }
    .profilePicture,.reactorLogo,.reactorLogoVectorial{
        margin: 20px 10px 20px 20px;
    }
    .proyectCard{
        width: 700px
    }
    .proyectData{
        margin: 20px 20px 20px 10px;
        width: 100%;
    }
}