.carouselCaption{
    @include background_color($dark-teal,0.8);
    color: white;
    font-size: medium;
    font-weight: 200;
    line-height: normal;
    text-align: justify;
    margin: 0 0 0 0;
    padding: 10px 10px 0px 10px;
}
.carouselCaptionMobile{
    @extend .carouselCaption;
}

.servicioTitle{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(70%);
    filter: opacity(95%);
    transition: filter 1s ease-in-out;
    &:hover{
        filter: opacity(100%);
    }
    h3{
        font-family: $font-enfasis;
        color:white;
        letter-spacing: 5px;
        text-shadow:2px 2px rgba(0,0,0,.3);
        font-size: x-large;
    }
}

/* creación del carrusel usando un mapa como pide la consigna del desafío*/
$imgs-carrousel:(img1:url("../media/Carrusel21.jpg"),img2:url("../media/Carrusel4.jpg"),img3:url("../media/educational_blurry.png"),img4:url("../media/Carrusel6.jpg"));

/*$imgs-carrousel:(img1:url("../media/Carrusel11.jpg"),img2:url("../media/Carrusel14.jpg"),img3:url("../media/Carrusel13.png"),img4:url("../media/Carrusel15.jpg"));
*/
@for $i from 1 through 4{
    #carrouselImg#{$i}{
        background-image: map-get($imgs-carrousel,img#{$i});
    }
} 

#carouselExampleCaptions{
    margin: 0 10px 10px 10px;
}

@media screen and (min-width:320px){
    .carouselCaption{
        display:none;
    }
    .carouselCaptionMobile{
        display: block;
        height: 230px;
        line-height: 30px;
        margin:0 0 50px 0;
        text-align: center;
        @include background_color($dark-teal,0.8);
    }
    .servicioTitle{
        height: 300px;
    }
}

@media screen and (min-width:992px){
    .carouselCaption{
        display: block;
        height: 180px;
        line-height: normal;
        margin-bottom: 0px;
    }
    .carouselCaptionMobile{
       display: none;
    }
}