@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Oswald&display=swap');
@import 'variables';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    font-family:$font-general;
}

ul,ol{
    list-style: none;
}

@import 'header';
@import 'navbar';
@import 'article';

aside{
    background-color: $aquamarina;
    @include background_image_default("../media/background_image_lores.jpg");
    padding: 20px 20px 20px 20px;
    grid-area: aside;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    align-items: center;
    justify-content: center;
    grid-template-areas: "searchbar" "enfButton";
}

.enfasisButton,.fieldTitle,.enfasisButtonBody{
    /*background-color: rgb(237, 161, 15);*/
    background-image:$orange-gradient;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-family: $font-enfasis;
    letter-spacing: 1px;
    text-shadow: 2px 2px rgba(0,0,0,.2);
    text-decoration: none;
    text-overflow: clip;
    text-align: center;
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.4);
    display: flex;
    justify-content: center;
}
.enfasisButton{
    grid-area: enfButton;
    transition: all 0.2s ease-in-out;
    &:hover{
        font-size: 19px;
        box-shadow: 0 0 20px rgba(255, 166, 0, 0.7);
        border-radius: 100px;
        letter-spacing: 0px;
        color: white;
    }
    &:active{
        color: white;
    }
}

.enfasisButtonBody{
    font-size: 20px;
    letter-spacing: 4px;
    padding: 20px 30px 20px 30px;
    border-radius: 80px;
    margin: 30px 10px 30px 10px;
    width: 75%;
    &:hover{
        color:$blue;
    }
}
p{
    margin: 15px 15px 15px 15px;
    text-align: justify;
/*    text-indent: 20px;*/
    line-height: 25px;
}
input,select,textarea{
    background-color: $light-grey;
}
.searchField{
    background-color: white;
}
.searchIcon{
    $height:28px; /*variables locales*/
    $width:2*$height;
    @include scale($width,$height);
    margin-left:2px;
}
iframe{
    margin: 10px 10px 10px 10px;
}

@import "footer";

body{
    display: grid;
}

aside{
    grid-area: aside;
}

@import "carrousel";
@import "accordion";
@import "formulario";
@import "cards";


@media screen and (min-width: 320px) {
    body{
        grid-template-columns: auto;
        grid-template-rows: 130px auto auto 110px;
        grid-template-areas: "header" "mobileNav" "article" "footer";
    }
    .searchBar,aside{
        display: none;
    }
    .enfasisButtonBody{
        display: block;
    }
    p{
        @include background_color($light-blue,0.8);
        line-height: 26px;
        text-align: center;
    }
    iframe{
        width: auto;
    }
}

@media screen and (min-width: 992px){/*quiero conservar la barra de navegación que ya tenia hecha para desktop*/
    body{
        grid-template-columns: auto;
        grid-template-rows: 130px 100px auto 110px;
        grid-template-areas: "header" "desktopNav" "article" "footer";
    }
    iframe{
        width: 560px;
    }
}

@media screen and (min-width: 1200px) {
    body{
        grid-template-columns: 320px auto;
        grid-template-rows: 160px 100px auto 100px;
        grid-template-areas: "header header" "desktopNav desktopNav" "aside article" "footer footer";
    }
    aside{
        display: grid;
    }
    .searchBar,.searchBarMobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-area: searchbar;
        @include background_color($light-grey,0.5);
        /*background-color: rgba(217, 217, 217,50%)!important;*/
    }
    .searchBar{       
        padding: 2px 2px 2px 2px;  
    }
    .searchBarMobile{
        padding: 10px 10px 10px 10px;
    }
    .searchBarButton{
        margin: 50px 50px 50px 50px;
    }
    .enfasisButtonBody,.videoMobile{
        display: none;
    }
    .enfasisButton,.videoDesktop{
        display: block;
    }
    p{
        background-color: rgba(200, 216, 228,0%);
        font-size: medium;
        line-height: normal;
        text-align: justify;
    }
}